{
  "presets": [
    [
      "babel-preset-react-app",
      ], [
        "@babel/preset-env",
          {
            "targets": {
              "esmodules": true
            }
          }
        ]
      ]
}
